{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>SocioScope<sup><i class="fas fa-plus fa-xs"></i></sup></i></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Knowledge Engineering Lab</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Chung-Ang University</p>
            <ul>
                <li>Our papers:</li>
            </ul>
        </div>
    </div>
    
{% endblock %}