{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <script>
        $(document).ready(function () {
            function analyse(analyse_type) {
                console.log('analyse');
                $.ajax({
                    type: 'POST',
                    url: "{% url 'analyse' %}",
                    data: {
                        "analyse_type": analyse_type,
                        "id": "{{keyword_id}}",
                        "start_date": "{{start_date}}",
                        "end_date": "{{end_date}}"
                    },
                    success: function (response) {
                        if (analyse_type == "wordcloud") {
                            var img_url = "{% static 'wordcloud' %}".replace(/wordcloud/, response["wordcloud"]);
                            $("div#analysis-div").html("<img src='" + img_url + "'/>");
                        } else if (analyse_type == "n-grams") {
                            one_gram_plot_div = response["one-grams"];
                            two_gram_plot_div = response["two-grams"];
                            thr_gram_plot_div = response["thr-grams"];
                            
                            $("div#analysis-div").html(one_gram_plot_div + two_gram_plot_div + thr_gram_plot_div);
                        } else if (analyse_type == "knowledgegraph") {

                        }
                        
                    },
                    error: function (response) {
                        alert(response["responseJSON"]["error"]);
                    }
                });
            }

            function reset_loading() {
                $("div#analysis-div").html(`
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" style="width: 100px; height: 100px;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                `);
            }
            
            analyse("wordcloud");
            $("button#btn-wordcloud").click(function(){
                reset_loading();
                analyse("wordcloud");
            });
            
            $("button#btn-ngrams").click(function() {
                reset_loading();
                analyse("n-grams");
            });

            $("button#btn-knowledgegraph").click(function() {
                reset_loading();
                analyse("knowledgegraph");
            });

        });
    </script>
</head>

<div class="font-up-bold text-uppercase">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="" href="{% url 'system_management'%}">
                    <h5 class="mr-3 mb-0"><strong>Keyword Management</strong></h5>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="" href="{% url 'view_tweets' pk=96 %}">
                    <h5 class="mr-3 mb-0"><strong>View Tweets</strong></h5>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <h5 class="mr-3 mb-0"><strong>Tweets Analysis</strong></h5>
            </li>
        </ol>
    </nav>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" id="btn-wordcloud" class="btn btn-secondary">Wordcloud</button>
    <button type="button" id="btn-ngrams" class="btn btn-secondary">N-grams</button>
    <button type="button" id="btn-knowledgegraph" class="btn btn-secondary">KnowledgeGraph</button>
</div>

<div id="analysis-div">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" style="width: 100px; height: 100px;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

{% endblock %}