{% extends 'base.html' %}


    <!-- <script>
        $(document).ready(function() {
            $('#search-form').on('submit', function(event) {
                var keyword = $("#id_keyword").val();
                
                $.ajax({
                    method: 'POST',
                    url: '/update_search_result',
                    data: {'keyword': keyword},
                    dataType: 'json',
                    success: function(response){
                        console.log(response.tweets);
                        alert(response.tweets)
                        $("#tweets").text(response.tweets);
                    },
                    error: function(response) {
                        console.log(response)
                    }
                });
            });
        });
    </script> -->

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Twitter Crawler</h1>
        </div>
    </div>

    {% load crispy_forms_tags %}

    <div class="row mt-2">
        <div class="col-md-12">
            <form method="POST" id="search-form" class="post-form" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Search</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class='col-md-12'>
            {% if plot_div %}
                <br/>
                <h3>Distribution of tweets related to the keyword:</h3>
                <!-- {% autoescape off %} -->
                {{ plot_div|safe }}
                <!-- {% endautoescape %} -->
            {% endif %}
        </div>
    </div>
{% endblock %}